.login-form {
  max-width: 300px;
  margin: 0 auto;
}

.login-form-button {
  width: 100%;
}

.others-box {
  display: inline-block;
  > i {
    float: left;
    color: #eee;
    cursor: pointer;
  }
}
